Repository minhtrancccp/various: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort-python, isort-jupyter

black:
  name: black
  entry: black
  language: system

isort-python:
  name: isort (python files)
  entry: isort
  language: system

isort-jupyter:
  name: isort (jupyter files)
  entry: nbqa isort
  language: system

feat: set up wily part 1
  pyproject.toml
Due: none

docs: Add README.md
  README.md
Due: none

chore: Update repo name and dependencies
  .gitignore
  README.md
  poetry.lock
  pylintrc
  pyproject.toml
Due: none

chore: Update directory names with new repo name
  miscellaneous_python/anagram_checker.py
  miscellaneous_python/brainfuck.py
  miscellaneous_python/climbing_snail.py
  miscellaneous_python/comparison.ipynb
  miscellaneous_python/fibonacci_sequence.py
  miscellaneous_python/fizz_buzz.py
  miscellaneous_python/numeral_persistence.py
  miscellaneous_python/pi_randomized_estimation.py
  miscellaneous_python/vigenere_cipher.py
  miscellaneous_python/zeckendorf.py
  various/anagram_checker.py
  various/contest_form.py
Due: black, isort-python, isort-jupyter

test: Rewrite test cases
  tests/test_anagram_checker.py
  tests/test_climbing_snail.py
  tests/test_fizz_buzz.py
  tests/test_vigenere_cipher.py
  tests/test_zeckendorf.py
Due: black, isort-python

Update README.md
  README.md
Due: none

chore: Update dependencies
  poetry.lock
Due: none

refactor: Update TODO and variable scope
  miscellaneous_python/vigenere_cipher.py
  miscellaneous_python/zeckendorf.py
  tests/test_zeckendorf.py
Due: black, isort-python

docs: Add beartype badge
  README.md
Due: none

feat: New script for handling issues with basic Latin letters
  miscellaneous_python/latin_letter_validator.py
Due: black, isort-python

feat: Add beartype check for parameters and refactor the old class into independent functions
  miscellaneous_python/anagram.py
  miscellaneous_python/anagram_checker.py
  tests/test_anagram_checker.py
Due: black, isort-python

style: Rename the test script for the anagram script
  tests/test_anagram.py
Due: black, isort-python

chore: Update dependencies
  poetry.lock
  pyproject.toml
Due: none

chore: (failed) trial use of commitizen
  miscellaneous_python/latin_letter_validator.py
  miscellaneous_python/latin_validator.py
  tests/test_latin_validator.py
Due: black, isort-python

build: regroup and update dependencies
  poetry.lock
  pyproject.toml
Due: none

docs(README.md): additional badges
  README.md
Due: none

build(poetry.lock): minor update
  poetry.lock
Due: none

chore: update dependencies
  poetry.lock
  pyproject.toml
Due: none

📜 docs: update badges and personal info
  README.md
Due: none

chore: update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

test: :white_check_mark: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

docs: :memo: reformat README.md
  README.md
Due: none

chore: :see_no_evil: add .github/ folder as a not-ignored dir
  .gitignore
Due: none

build: ⬆️ update dependencies
  poetry.lock
  pyproject.toml
Due: none

build: :heavy_minus_sign: remove unused dependencies
  poetry.lock
  pyproject.toml
Due: none

chore: 🎉 initial commit
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .gitignore
  .pre-commit-config.yaml
  COPYING
  README.md
  miscellaneous_python/anagram.py
  miscellaneous_python/brainfuck.py
  miscellaneous_python/climbing_snail.py
  miscellaneous_python/comparison.ipynb
  miscellaneous_python/fibonacci_sequence.py
  miscellaneous_python/fizz_buzz.py
  miscellaneous_python/latin_validator.py
  miscellaneous_python/numeral_persistence.py
  miscellaneous_python/pi_randomized_estimation.py
  miscellaneous_python/vigenere_cipher.py
  miscellaneous_python/zeckendorf.py
  poetry.lock
  pyproject.toml
  tests/__init__.py
  tests/test_anagram.py
  tests/test_climbing_snail.py
  tests/test_fizz_buzz.py
  tests/test_latin_validator.py
  tests/test_vigenere_cipher.py
  tests/test_zeckendorf.py
Due: black, isort-python, isort-jupyter

build: ⬆️ update dependencies
  poetry.lock
Due: none

docs: 📝 update README.md
  README.md
Due: none

ci: 👥 add CODEOWNERS file
  CODEOWNERS
Due: none

Path conditions:
  black: any of: \.ipynb$, \.py$
  isort-python: any of: \.py$
  isort-jupyter: any of: \.ipynb$
