Repository minhtrancccp/various: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort-python, nbqa-isort

black:
  name: black
  description: 'Black: The uncompromising Python code formatter (with Jupyter Notebook support)'
  entry: black
  language: system

isort-python:
  name: isort
  entry: isort
  language: system

nbqa-isort:
  name: nbqa-isort
  description: Run 'isort' on a Jupyter Notebook
  entry: nbqa isort
  language: system

build: ➕ add coveralls dependency
  poetry.lock
  pyproject.toml
Due: none

feat: 👷 trial with coveralls
  .github/workflows/coveralls.yml
Due: none

build: ⬆️ update dependencies
  poetry.lock
Due: none

docs: 📝 update docstrings for latin_string.py
  data_filter/latin_string.py
Due: black, isort-python

ci: 👷 practice using GitHub Actions
  .github/workflows/coveralls.yml
  .github/workflows/github-actions-demo.yml
Due: none

Issue 14 coveralls (#23)
  .github/workflows/github-actions-demo.yml
  .gitignore
  data_filter/latin_string.py
  data_filter/real_numbers.py
  example_usage/example_recursive_fibonacci.py
  miscellaneous_python/anagram.py
  miscellaneous_python/anagrams.py
  miscellaneous_python/climbing_snail.py
  miscellaneous_python/comparison.ipynb
  miscellaneous_python/recursive_fibonacci.py
  poetry.lock
  pyproject.toml
  roman_numeral/__init__.py
  roman_numeral/config.py
  roman_numeral/decoder_module.py
  roman_numeral/encoder_module.py
  tests/config.py
  tests/test_anagram.py
  tests/test_basic_latin_letters.py
  tests/test_climbing_snail.py
  tests/test_data_filter/test_latin_string.py
  tests/test_data_filter/test_real_numbers.py
  tests/test_miscellaneous_python/test_anagrams.py
  tests/test_miscellaneous_python/test_climbing_snail.py
  tests/test_miscellaneous_python/test_recursive_fibonacci.py
  tests/test_roman_numeral/test_roman_numeral.py
  under_construction/__init__.py
  under_construction/brainfuck.py
  under_construction/fibonacci_sequence.py
  under_construction/fizz_buzz.py
  under_construction/numeral_persistence.py
  under_construction/perfect_digital_invariant.py
  under_construction/pi_randomized_estimation.py
  under_construction/recurring_decimal.py
  under_construction/test_fizz_buzz.py
  under_construction/test_vigenere_cipher.py
  under_construction/test_zeckendorf.py
  under_construction/vigenere_cipher.py
  under_construction/zeckendorf.py
Due: black, isort-python, nbqa-isort

style: 💄 add newline char in latin_string.py
  data_filter/latin_string.py
Due: black, isort-python

build: update pre-commit configurations
  .pre-commit-config.yaml
Due: none

refactor: 🔥 remove redudant class _IndicesPair in decoder_module.py
  roman_numeral/decoder_module.py
Due: black, isort-python

docs: 📝 update README.md
  docs/README.md
Due: none

docs: 📝 add tasks to the scripts `latin_string` and `fibonacci_sequence`
  data_filter/latin_string.py
  under_construction/fibonacci_sequence.py
Due: black, isort-python

docs: 📝 minor update on the README.md
  docs/README.md
Due: none

docs: 📝 update `TODO` section in README.md
  docs/README.md
Due: none

docs: 📝 update docs/README.md
  docs/README.md
Due: none

build: 📝 update pyproject.toml
  pyproject.toml
Due: none

bump: version 0.3.0 → 1.0.0
  pyproject.toml
Due: none

build: 🔧 default `black` formatter target to Python 3.10
  pyproject.toml
Due: none

feat: ✨ data_filter.latin_string.letter_filter function now support case conversion
  data_filter/latin_string.py
  miscellaneous_python/anagrams.py
  tests/test_data_filter/test_latin_string.py
Due: black, isort-python

docs: 📝 add tasks to the `TODO` section in README.md
  docs/README.md
Due: none

docs: 💡 update explanation for `positive_real_strategies` in tests/test_miscellaneous_python/test_climbing_snail.py
  tests/test_miscellaneous_python/test_climbing_snail.py
Due: black, isort-python

build: 💚 remove unused GH Actions yml
  .github/workflows/github-actions-demo.yml
Due: none

build: 🔧 update pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

chore: 🙈 add pytest html report into .gitignore
  .gitignore
Due: none

test: ✅ update type hints in test_climbing_snail.py
  tests/test_miscellaneous_python/test_climbing_snail.py
Due: black, isort-python

style: 💡 move comment to new place in test_recursive_fibonacci.py
  tests/test_miscellaneous_python/test_recursive_fibonacci.py
Due: black, isort-python

test: 🏗️ split tests/config.py into 2
  tests/config.py
  tests/test_data_filter/config.py
  tests/test_data_filter/test_latin_string.py
  tests/test_miscellaneous_python/config.py
  tests/test_miscellaneous_python/test_anagrams.py
Due: black, isort-python

feat: ✨ improved vigenere_cipher.py being put back, with tests
  miscellaneous_python/vigenere_cipher.py
  tests/test_miscellaneous_python/test_vigenere_cipher.py
  under_construction/test_vigenere_cipher.py
  under_construction/vigenere_cipher.py
Due: black, isort-python

test: ✅ lower the limit in test_recursive_fibonacci.py
  tests/test_miscellaneous_python/test_recursive_fibonacci.py
Due: black, isort-python

chore: 🏗️ shorten testing dirs' names
  tests/data_filter/config.py
  tests/data_filter/test_latin_string.py
  tests/data_filter/test_real_numbers.py
  tests/miscellaneous_python/config.py
  tests/miscellaneous_python/test_anagrams.py
  tests/miscellaneous_python/test_climbing_snail.py
  tests/miscellaneous_python/test_recursive_fibonacci.py
  tests/miscellaneous_python/test_vigenere_cipher.py
  tests/roman_numeral/test_roman_numeral.py
  tests/test_miscellaneous_python/config.py
Due: black, isort-python

build: ⬆️ update dependencies
  poetry.lock
  pyproject.toml
Due: none

chore: 🏗️ new dir `examples` replacing `example_usage`
  example_usage/example_recursive_fibonacci.py
  examples/pi_randomized_estimation.py
Due: black, isort-python

refactor: 🚧 improve docstring and importing for `vigenere_cipher`
  miscellaneous_python/vigenere_cipher.py
  tests/miscellaneous_python/test_vigenere_cipher.py
Due: black, isort-python

feat: 💥 new `fibonacci_sequence` replacing old Fibonacci scripts
  miscellaneous_python/fibonacci_sequence.py
  miscellaneous_python/recursive_fibonacci.py
  tests/miscellaneous_python/test_recursive_fibonacci.py
  under_construction/fibonacci_sequence.py
Due: black, isort-python

docs: 📝 update docs for `roman_numeral`
  roman_numeral/README.md
  roman_numeral/__init__.py
Due: black, isort-python

Path conditions:
  black: any of: \.ipynb$, \.py$
  isort-python: any of: \.py$
  nbqa-isort: any of: \.ipynb$
